<div class="card">
  <h1>Let's get to know 😎</h1>
  <form>
    <div class="field">
      <div class="field_name">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field_email">
        <label for="email"> Email </label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="field_message">
        <label for="message">Message</label>
        <input type="text" name="message" id="message" />
      </div>
    </div>
  </form>
</div>
