<div class="card">
  <h1>Let's get to know 😎</h1>
  <form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">
    <div class="field">
      <div class="field_name">
        <label for="name">Name</label>
        <input type="text" [formControlName]="'name'" name="name" id="name" />
      </div>
      <div class="field_email">
        <label for="email"> Email </label>
        <input
          type="email"
          [formControlName]="'email'"
          name="email"
          id="email"
        />
      </div>
      <div class="field_message">
        <label for="message">Message</label>
        <input
          type="text"
          [formControlName]="'message'"
          name="message"
          id="message"
        />
      </div>
      <div class="field_button">
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
