<div class="description">
  <h2>
    Front-end developer with 2 years of experience specializing in Angular
    framework UI design.
  </h2>
  <p>
    With more then a decade of remote work experience, I've engaged with a
    diverse range of clients, projects, startups and full-time positions
    worldwide. Excelling in remote environments, I've conquered challenges
    through effective communication and collaboration, delivering exceptional
    results consistently.
  </p>
  <p>
    Embracing startups and smaller teams, I thrive on challenges and take
    ownership. I excel in problem-solving, driving solutions from inception to
    completion. With a creative and visionary mindset, I specialize in crafting
    visually striking and functional user interfaces, prioritizing user-centric
    design. My flexible design process adapts seamlessly to project
    requirements, encompassing research, implementation, and evaluation stages.
  </p>
  <p>
    I foster open communication and teamwork, leveraging my technical
    proficiency in design tools and front-end development to challenges and
    learn continuously. I prioritize culture alongside product, believing a
    supportive and collaborative environment is key to success. I excel at
    tackling diverse design challenges and pushing boundaries. Always learning,
    I seek new experiences to improve.
  </p>
</div>
