<div class="description">
  <h2>Software Developer (Angular & Frontend Technologies)</h2>
  <p>2+ Years of Experience</p>
  <p>
    Proficient in crafting dynamic and responsive user interfaces using Angular
    with state management via NgRx, adept at reactive programming with RxJS.
    Skilled in utilizing Bootstrap for layout and design, while ensuring
    semantic and accessible HTML, along with efficient and scalable CSS.
  </p>
  <p>
    Strong JavaScript and TypeScript development skills, with experience in
    integrating designs from Figma into functional applications. Proficient in
    API testing and collaboration using Postman, with solid version control
    practices using Git, GitHub, and GitLab.
  </p>
  <p>
    I foster open communication and teamwork, leveraging my technical
    proficiency in design tools and front-end development to challenges and
    learn continuously. I prioritize culture alongside product, believing a
    supportive and collaborative environment is key to success. I excel at
    tackling diverse design challenges and pushing boundaries. Always learning,
    I seek new experiences to improve.
  </p>
  <img
    src="https://sathish-repos.github.io/assets/images/profile/profile.jpeg"
    width="100%"
    alt="profile_image"
  />
</div>
