:root {
  // --text: #000000;
  // --background: #ffffff;

  --text: #ffffff;
  --background: #000000;

  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #443dff;

  body.dark-theme {
    color-scheme: dark;

    --text: #ffffff;
    --background: #000000;
  }
}
