.all__apps {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  @media (max-width: 767px) {
    padding: 20px;
  }
}

.app {
  margin-bottom: 5rem;
}

.img-wrapper {
  overflow: hidden;
  border-radius: 15px;

  display: inline-block;
  box-sizing: border-box;
}

.img-wrapper img,
.app {
  width: 500px;
  height: 100%;

  @media (max-width: 600px) {
    width: 375px;
  }

  @media (max-width: 450px) {
    width: 300px;
  }

  @media (max-width: 350px) {
    width: 250px;
  }
}

.inner-img {
  transform: scale(1.05);
  transition: 0.4s;
}

.inner-img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

/* Other styling elements, that are not necessary for the example */

// .img-wrapper {
//   display: inline-block;
//   box-sizing: border-box;
// }
