<h1 [innerHTML]="content().title"></h1>
<div class="all__apps">
  @for (app of content().appsList; track $index) {
  <div class="app">
    <div class="img-wrapper">
      <a href="{{ app.link.url }}" target="{{ app.link.target }}">
        <picture>
          <source
            media="(min-width: 600px)"
            srcset="{{app.imageUrl.desktop}}"
          />
          <img class="inner-img" src="{{ app.imageUrl.mobile }}" />
        </picture>
      </a>
    </div>
    <h2 [innerHTML]="app.name"></h2>
    <p [innerHTML]="app.description"></p>
  </div>
  }
</div>
