.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  left: 0;
  right: 0;
  padding: 40px;
  align-items: center;
  max-width: 1300px;
  margin: 3rem auto;

  @media (max-width: 767px) {
    padding: 20px;
  }
}
