.education {
  padding-bottom: 20px;
}

h4 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: 20px;
}

p {
  line-height: 160%;
  font-weight: 300;
  font-size: 1.375rem;
}

.item {
  margin-bottom: 20px;
}
