/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/fonts.scss";

:root {
  --text: #000000;
  --background: #ffffff;

  body.dark-theme {
    color-scheme: dark;

    --text: #ffffff;
    --background: #000000;
  }
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "ubuntu";
  font-weight: 300;
}

body {
  background: var(--background);
  color: var(--text);
}
