.experiences {
  margin-bottom: 40px;
}

h4 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: 20px;
}

h5 {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 140%;
}

h6 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
}

p {
  line-height: 160%;
  font-weight: 300;
  font-size: 1.375rem;
}
