h4 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: 20px;
}

p {
  line-height: 160%;
  font-weight: 300;
  font-size: 1.375rem;
  margin-bottom: 20px;
}

a {
  color: var(--text);
  width: fit-content;
  display: block;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 10px;
}

svg {
  stroke: var(--text);
}

.email {
  cursor: pointer;
}
